
{% extends "master.html" %}

{% block title %}
    By post - List of all posts
{% endblock %}

{% block content %}

    <h1 class="title">Posts</h1>

    <ul style="list-style-type:square;" class="text-list">
        {% for x in myposts %}
        <li>
          <div class="inline-block-auto">
            <a href="details/{{ x.id }}" class="no-styles">{{ x.title }}</a>
          </div>
          <div class="inline-block-auto">
            <a href="post/{{ x.id }}/edit/">
              <box-icon class="icons" name='edit' color=var(--font)></box-icon>
            </a>
          </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}