
{% extends "master.html" %}

{% block title %}
  Details about {{ mypost.title }}
{% endblock %}


{% block content %}
  <h1> {{ mypost.title }}</h1>
  
  <p>Content: {{ mypost.content }}</p>
  <hr>
  <p>Author: {{ mypost.author }}</p>
  <hr>
  <p>Created date: {{ mypost.created_date }}</p>
  <hr>
  <p>Published date: {{ mypost.published_date }}</p>
  <hr>

  <img src="{{ mypost.images.url }}" style="width: 200px; height: auto;" alt="Post picture" />
  
  <p>Back to <a href="/posts">Posts</a></p>
  
{% endblock %}