{% extends "master.html" %}

{% block title %}
  Details about {{ mypost.title }}
{% endblock %}

{% block content %}
  <h1 class="title"> {{ mypost.title }}</h1>

  <div class="text-list">

    <p>Content: </p>  
    <p style="color: var(--primary);">{{ mypost.content }}</p>
    <hr>
    <p>Author: {{ mypost.author }}</p>
    <hr>
    <p>Created date: {{ mypost.created_date }}</p>
    <hr>
    <p>Published date: {{ mypost.published_date }}</p>
    <hr>
  </div>

  {% if mypost.photos.all %}
    <h3>Photos:</h3>
    {% for photo in mypost.photos.all %}
      <img src="{{ photo.image.url }}" style="width: 200px; height: auto;" alt="Post picture" />
    {% endfor %}
  {% endif %}

  <p>Back to <a href="/posts">Posts</a></p>

{% endblock %}
