:root {
    --primary: #01baef;
    /* --secondary: #01baef; */
    --secondary: #F4FFFD;
    --red: #B80C09;
    --dark: #040F16;
    /* --background: #FBFBFF; */
    --background: #465362;
    --font: #F4FFFD;
}